@import "tailwindcss";
/* @tailwind base;
@tailwind components; */
@tailwind utilities;

@layer base {
  /* Move any manual resets here */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

body {
  font-family: "Inter", sans-serif;
}